system/~/.vscode-root/.org.chromium.Chromium.SpafYw
system/~/.vscode-root/DIPS
system/~/.vscode-root/languagepacks.json
system/~/.vscode-root/machineid
system/~/.vscode-root/Network Persistent State
system/~/.vscode-root/Preferences
system/~/.vscode-root/SharedStorage
system/~/.vscode-root/TransportSecurity
system/~/.vscode-root/Trust Tokens
system/~/.vscode-root/Trust Tokens-journal
system/~/.vscode-root/Cache/Cache_Data/9f50bddbd978eddd_0
system/~/.vscode-root/Cache/Cache_Data/5283edf90cf4ab50_0
system/~/.vscode-root/Cache/Cache_Data/bf4e132f2de8040f_0
system/~/.vscode-root/Cache/Cache_Data/d121e2a6335b7510_0
system/~/.vscode-root/Cache/Cache_Data/index
system/~/.vscode-root/Cache/Cache_Data/index-dir/the-real-index
system/~/.vscode-root/CachedConfigurations/defaults/configurationDefaultsOverrides/configuration.json
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/1ac85741cc00abfd_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/3a2097dd5181d382_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/3d4d6b37118bd1f9_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/5cd2ebdbb0b0f7b9_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/9ab8378a39fa9858_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/9e702fc74c892315_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/50bf4862e6a52e3c_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/78c3e4f49bb8daad_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/424a931ae9296290_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/8678ad71f85b27bf_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/8849a64131a11c7a_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/9708fbeca2abb1e0_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/c462ea8f4320c0bc_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/f5be55c336667f55_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/f203d998eb282dca_0
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/index
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/index-dir/the-real-index
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/wasm/index
system/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/wasm/index-dir/the-real-index
system/~/.vscode-root/CachedProfilesData/__default__profile__/extensions.builtin.cache
system/~/.vscode-root/CachedProfilesData/__default__profile__/extensions.user.cache
system/~/.vscode-root/Code Cache/js/index
system/~/.vscode-root/Code Cache/js/index-dir/the-real-index
system/~/.vscode-root/Code Cache/wasm/index
system/~/.vscode-root/Code Cache/wasm/index-dir/the-real-index
system/~/.vscode-root/Crashpad/client_id
system/~/.vscode-root/Crashpad/settings.dat
system/~/.vscode-root/Crashpad/completed/2c4a0ca1-e0fe-4612-9e9d-c7637aa32d03.dmp
system/~/.vscode-root/Crashpad/completed/2c4a0ca1-e0fe-4612-9e9d-c7637aa32d03.meta
system/~/.vscode-root/Crashpad/completed/09e3f627-8145-4ab1-b0a3-5350c45ed38f.dmp
system/~/.vscode-root/Crashpad/completed/09e3f627-8145-4ab1-b0a3-5350c45ed38f.meta
system/~/.vscode-root/DawnGraphiteCache/data_0
system/~/.vscode-root/DawnGraphiteCache/data_1
system/~/.vscode-root/DawnGraphiteCache/data_2
system/~/.vscode-root/DawnGraphiteCache/data_3
system/~/.vscode-root/DawnGraphiteCache/index
system/~/.vscode-root/DawnWebGPUCache/data_0
system/~/.vscode-root/DawnWebGPUCache/data_1
system/~/.vscode-root/DawnWebGPUCache/data_2
system/~/.vscode-root/DawnWebGPUCache/data_3
system/~/.vscode-root/DawnWebGPUCache/index
system/~/.vscode-root/Dictionaries/en-US-10-1.bdic
system/~/.vscode-root/GPUCache/data_0
system/~/.vscode-root/GPUCache/data_1
system/~/.vscode-root/GPUCache/data_2
system/~/.vscode-root/GPUCache/data_3
system/~/.vscode-root/GPUCache/index
system/~/.vscode-root/Local Storage/leveldb/000003.log
system/~/.vscode-root/Local Storage/leveldb/CURRENT
system/~/.vscode-root/Local Storage/leveldb/LOCK
system/~/.vscode-root/Local Storage/leveldb/LOG
system/~/.vscode-root/Local Storage/leveldb/LOG.old
system/~/.vscode-root/Local Storage/leveldb/MANIFEST-000001
system/~/.vscode-root/Session Storage/000003.log
system/~/.vscode-root/Session Storage/CURRENT
system/~/.vscode-root/Session Storage/LOCK
system/~/.vscode-root/Session Storage/LOG
system/~/.vscode-root/Session Storage/MANIFEST-000001
system/~/.vscode-root/Shared Dictionary/db
system/~/.vscode-root/Shared Dictionary/db-journal
system/~/.vscode-root/Shared Dictionary/cache/index
system/~/.vscode-root/Shared Dictionary/cache/index-dir/the-real-index
system/~/.vscode-root/User/settings.json
system/~/.vscode-root/User/History/-229ad8b8/1iAl
system/~/.vscode-root/User/History/-229ad8b8/entries.json
system/~/.vscode-root/User/History/-229ad8b8/imVL
system/~/.vscode-root/User/History/-229ad8b8/XehR
system/~/.vscode-root/User/History/-229ad8b8/zSnp
system/~/.vscode-root/User/History/-7f441aab/entries.json
system/~/.vscode-root/User/History/-7f441aab/KGfA.json
system/~/.vscode-root/User/History/4430e54c/0wH0
system/~/.vscode-root/User/History/4430e54c/entries.json
system/~/.vscode-root/User/History/4430e54c/mOpG
system/~/.vscode-root/User/History/4430e54c/pQDk
system/~/.vscode-root/User/History/4430e54c/UGz7
system/~/.vscode-root/User/History/5c8fc7b/0NJx
system/~/.vscode-root/User/History/5c8fc7b/af6o
system/~/.vscode-root/User/History/5c8fc7b/entries.json
system/~/.vscode-root/User/History/5c8fc7b/eWvY
system/~/.vscode-root/User/History/5c8fc7b/l8rG
system/~/.vscode-root/User/History/5c8fc7b/oC3X
system/~/.vscode-root/User/History/5c8fc7b/yqBX
system/~/.vscode-root/User/History/5c8fc7b/yU55
system/~/.vscode-root/User/History/5e01f4a1/entries.json
system/~/.vscode-root/User/History/5e01f4a1/gNct
system/~/.vscode-root/User/globalStorage/state.vscdb
system/~/.vscode-root/User/globalStorage/state.vscdb.backup
system/~/.vscode-root/User/globalStorage/storage.json
system/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/state.vscdb
system/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/state.vscdb.backup
system/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/workspace.json
system/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/chatEditingSessions/49f8fb1a-1ffb-4219-b985-efc1dc26d9ab/state.json
system/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/chatSessions/49f8fb1a-1ffb-4219-b985-efc1dc26d9ab.json
system/~/.vscode-root/logs/20251027T111913/editSessions.log
system/~/.vscode-root/logs/20251027T111913/main.log
system/~/.vscode-root/logs/20251027T111913/network-shared.log
system/~/.vscode-root/logs/20251027T111913/remoteTunnelService.log
system/~/.vscode-root/logs/20251027T111913/sharedprocess.log
system/~/.vscode-root/logs/20251027T111913/telemetry.log
system/~/.vscode-root/logs/20251027T111913/terminal.log
system/~/.vscode-root/logs/20251027T111913/userDataSync.log
system/~/.vscode-root/logs/20251027T111913/window1/network.log
system/~/.vscode-root/logs/20251027T111913/window1/notebook.rendering.log
system/~/.vscode-root/logs/20251027T111913/window1/renderer.log
system/~/.vscode-root/logs/20251027T111913/window1/textModelChanges.log
system/~/.vscode-root/logs/20251027T111913/window1/views.log
system/~/.vscode-root/logs/20251027T111913/window1/exthost/exthost.log
system/~/.vscode-root/logs/20251027T111913/window1/exthost/extHostTelemetry.log
system/~/.vscode-root/logs/20251027T111913/window1/exthost/vscode.git/Git.log
system/~/.vscode-root/logs/20251027T111913/window1/exthost/vscode.github/GitHub.log
system/~/.vscode-root/logs/20251027T111913/window1/exthost/vscode.github-authentication/GitHub Authentication.log
system/~/.vscode-root/logs/20251027T111913/window1/output_20251027T111916/tasks.log
system/~/.vscode-root/logs/20251027T111955/editSessions.log
system/~/.vscode-root/logs/20251027T111955/main.log
system/~/.vscode-root/logs/20251027T111955/network-shared.log
system/~/.vscode-root/logs/20251027T111955/remoteTunnelService.log
system/~/.vscode-root/logs/20251027T111955/sharedprocess.log
system/~/.vscode-root/logs/20251027T111955/telemetry.log
system/~/.vscode-root/logs/20251027T111955/terminal.log
system/~/.vscode-root/logs/20251027T111955/userDataSync.log
system/~/.vscode-root/logs/20251027T111955/window1/network.log
system/~/.vscode-root/logs/20251027T111955/window1/notebook.rendering.log
system/~/.vscode-root/logs/20251027T111955/window1/renderer.log
system/~/.vscode-root/logs/20251027T111955/window1/textModelChanges.log
system/~/.vscode-root/logs/20251027T111955/window1/views.log
system/~/.vscode-root/logs/20251027T111955/window1/exthost/exthost.log
system/~/.vscode-root/logs/20251027T111955/window1/exthost/extHostTelemetry.log
system/~/.vscode-root/logs/20251027T111955/window1/exthost/vscode.git/Git.log
system/~/.vscode-root/logs/20251027T111955/window1/exthost/vscode.github/GitHub.log
system/~/.vscode-root/logs/20251027T111955/window1/exthost/vscode.github-authentication/GitHub Authentication.log
system/~/.vscode-root/logs/20251027T111955/window1/exthost/vscode.json-language-features/JSON Language Server.log
system/~/.vscode-root/logs/20251027T111955/window1/output_20251027T111958/tasks.log
system/~/.vscode-root/logs/20251027T114619/editSessions.log
system/~/.vscode-root/logs/20251027T114619/main.log
system/~/.vscode-root/logs/20251027T114619/network-shared.log
system/~/.vscode-root/logs/20251027T114619/remoteTunnelService.log
system/~/.vscode-root/logs/20251027T114619/sharedprocess.log
system/~/.vscode-root/logs/20251027T114619/telemetry.log
system/~/.vscode-root/logs/20251027T114619/terminal.log
system/~/.vscode-root/logs/20251027T114619/userDataSync.log
system/~/.vscode-root/logs/20251027T114619/window1/network.log
system/~/.vscode-root/logs/20251027T114619/window1/notebook.rendering.log
system/~/.vscode-root/logs/20251027T114619/window1/renderer.log
system/~/.vscode-root/logs/20251027T114619/window1/textModelChanges.log
system/~/.vscode-root/logs/20251027T114619/window1/views.log
system/~/.vscode-root/logs/20251027T114619/window1/exthost/exthost.log
system/~/.vscode-root/logs/20251027T114619/window1/exthost/extHostTelemetry.log
system/~/.vscode-root/logs/20251027T114619/window1/exthost/vscode.git/Git.log
system/~/.vscode-root/logs/20251027T114619/window1/exthost/vscode.github/GitHub.log
system/~/.vscode-root/logs/20251027T114619/window1/exthost/vscode.github-authentication/GitHub Authentication.log
system/~/.vscode-root/logs/20251027T114619/window1/output_20251027T114622/tasks.log
scripts/~/.vscode-root/.org.chromium.Chromium.9fjrOS
scripts/~/.vscode-root/code.lock
scripts/~/.vscode-root/DIPS
scripts/~/.vscode-root/DIPS-wal
scripts/~/.vscode-root/languagepacks.json
scripts/~/.vscode-root/machineid
scripts/~/.vscode-root/Network Persistent State
scripts/~/.vscode-root/Preferences
scripts/~/.vscode-root/SharedStorage
scripts/~/.vscode-root/SharedStorage-wal
scripts/~/.vscode-root/TransportSecurity
scripts/~/.vscode-root/Trust Tokens
scripts/~/.vscode-root/Trust Tokens-journal
scripts/~/.vscode-root/Cache/Cache_Data/9f50bddbd978eddd_0
scripts/~/.vscode-root/Cache/Cache_Data/5283edf90cf4ab50_0
scripts/~/.vscode-root/Cache/Cache_Data/d121e2a6335b7510_0
scripts/~/.vscode-root/Cache/Cache_Data/fa8777db6ddedd28_0
scripts/~/.vscode-root/Cache/Cache_Data/index
scripts/~/.vscode-root/Cache/Cache_Data/index-dir/the-real-index
scripts/~/.vscode-root/CachedConfigurations/defaults/configurationDefaultsOverrides/configuration.json
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/1ac85741cc00abfd_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/3a2097dd5181d382_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/5cd2ebdbb0b0f7b9_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/9ab8378a39fa9858_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/9e702fc74c892315_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/50bf4862e6a52e3c_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/424a931ae9296290_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/8678ad71f85b27bf_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/8849a64131a11c7a_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/9708fbeca2abb1e0_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/c462ea8f4320c0bc_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/f203d998eb282dca_0
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/index
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/js/index-dir/the-real-index
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/wasm/index
scripts/~/.vscode-root/CachedData/03c265b1adee71ac88f833e065f7bb956b60550a/chrome/wasm/index-dir/the-real-index
scripts/~/.vscode-root/CachedProfilesData/__default__profile__/extensions.builtin.cache
scripts/~/.vscode-root/CachedProfilesData/__default__profile__/extensions.user.cache
scripts/~/.vscode-root/Code Cache/js/index
scripts/~/.vscode-root/Code Cache/js/index-dir/the-real-index
scripts/~/.vscode-root/Code Cache/wasm/index
scripts/~/.vscode-root/Code Cache/wasm/index-dir/the-real-index
scripts/~/.vscode-root/Crashpad/client_id
scripts/~/.vscode-root/DawnGraphiteCache/data_0
scripts/~/.vscode-root/DawnGraphiteCache/data_1
scripts/~/.vscode-root/DawnGraphiteCache/data_2
scripts/~/.vscode-root/DawnGraphiteCache/data_3
scripts/~/.vscode-root/DawnGraphiteCache/index
scripts/~/.vscode-root/DawnWebGPUCache/data_0
scripts/~/.vscode-root/DawnWebGPUCache/data_1
scripts/~/.vscode-root/DawnWebGPUCache/data_2
scripts/~/.vscode-root/DawnWebGPUCache/data_3
scripts/~/.vscode-root/DawnWebGPUCache/index
scripts/~/.vscode-root/Dictionaries/en-US-10-1.bdic
scripts/~/.vscode-root/GPUCache/data_0
scripts/~/.vscode-root/GPUCache/data_1
scripts/~/.vscode-root/GPUCache/data_2
scripts/~/.vscode-root/GPUCache/data_3
scripts/~/.vscode-root/GPUCache/index
scripts/~/.vscode-root/Local Storage/leveldb/000003.log
scripts/~/.vscode-root/Local Storage/leveldb/CURRENT
scripts/~/.vscode-root/Local Storage/leveldb/LOCK
scripts/~/.vscode-root/Local Storage/leveldb/LOG
scripts/~/.vscode-root/Local Storage/leveldb/MANIFEST-000001
scripts/~/.vscode-root/Shared Dictionary/db
scripts/~/.vscode-root/Shared Dictionary/db-journal
scripts/~/.vscode-root/Shared Dictionary/cache/index
scripts/~/.vscode-root/Shared Dictionary/cache/index-dir/the-real-index
scripts/~/.vscode-root/User/settings.json
scripts/~/.vscode-root/User/History/-2dc867b0/entries.json
scripts/~/.vscode-root/User/History/-2dc867b0/R4Gf.json
scripts/~/.vscode-root/User/History/-48d85762/entries.json
scripts/~/.vscode-root/User/History/-48d85762/go6e
scripts/~/.vscode-root/User/History/-4ec312b1/gGMl
scripts/~/.vscode-root/User/History/-6570c465/0cvp
scripts/~/.vscode-root/User/History/-6570c465/1z1q
scripts/~/.vscode-root/User/History/-6570c465/5Obz
scripts/~/.vscode-root/User/History/-6570c465/66UL
scripts/~/.vscode-root/User/History/-6570c465/429j
scripts/~/.vscode-root/User/History/-6570c465/Baau
scripts/~/.vscode-root/User/History/-6570c465/BLnf
scripts/~/.vscode-root/User/History/-6570c465/d3pY
scripts/~/.vscode-root/User/History/-6570c465/e2q9
scripts/~/.vscode-root/User/History/-6570c465/E7Ql
scripts/~/.vscode-root/User/History/-6570c465/entries.json
scripts/~/.vscode-root/User/History/-6570c465/EuiJ
scripts/~/.vscode-root/User/History/-6570c465/fhp5
scripts/~/.vscode-root/User/History/-6570c465/FmMa
scripts/~/.vscode-root/User/History/-6570c465/iO1X
scripts/~/.vscode-root/User/History/-6570c465/J9zt
scripts/~/.vscode-root/User/History/-6570c465/KDZ4
scripts/~/.vscode-root/User/History/-6570c465/kvw4
scripts/~/.vscode-root/User/History/-6570c465/nSyr
scripts/~/.vscode-root/User/History/-6570c465/o9Dn
scripts/~/.vscode-root/User/History/-6570c465/OHSA
scripts/~/.vscode-root/User/History/-6570c465/OKe3
scripts/~/.vscode-root/User/History/-6570c465/rT61
scripts/~/.vscode-root/User/History/-6570c465/vne7
scripts/~/.vscode-root/User/History/-6570c465/VUVn
scripts/~/.vscode-root/User/History/-6570c465/w9S0
scripts/~/.vscode-root/User/History/264552c5/3BnD
scripts/~/.vscode-root/User/History/264552c5/d9GI
scripts/~/.vscode-root/User/History/264552c5/entries.json
scripts/~/.vscode-root/User/History/264552c5/JCcv
scripts/~/.vscode-root/User/History/264552c5/JILR
scripts/~/.vscode-root/User/History/264552c5/LdAo
scripts/~/.vscode-root/User/History/264552c5/LlZ5
scripts/~/.vscode-root/User/History/264552c5/oI0T
scripts/~/.vscode-root/User/History/264552c5/uDPR
scripts/~/.vscode-root/User/History/264552c5/uoxE
scripts/~/.vscode-root/User/History/264552c5/vKIy
scripts/~/.vscode-root/User/History/264552c5/wK1w
scripts/~/.vscode-root/User/History/4430e54c/entries.json
scripts/~/.vscode-root/User/History/4430e54c/muWr
scripts/~/.vscode-root/User/History/5d203c30/5vFD
scripts/~/.vscode-root/User/History/5d203c30/6LIs
scripts/~/.vscode-root/User/History/5d203c30/59t2
scripts/~/.vscode-root/User/History/5d203c30/CMlF
scripts/~/.vscode-root/User/History/5d203c30/entries.json
scripts/~/.vscode-root/User/History/5d203c30/EoKS
scripts/~/.vscode-root/User/History/5d203c30/Gsvt
scripts/~/.vscode-root/User/History/5d203c30/Hpvy
scripts/~/.vscode-root/User/History/5d203c30/KcTT
scripts/~/.vscode-root/User/History/5d203c30/MNGe
scripts/~/.vscode-root/User/History/5d203c30/oJHf
scripts/~/.vscode-root/User/History/5d203c30/ONnc
scripts/~/.vscode-root/User/History/5d203c30/RKZe
scripts/~/.vscode-root/User/History/5d203c30/U9I8
scripts/~/.vscode-root/User/History/5d203c30/WkGi
scripts/~/.vscode-root/User/History/5d203c30/YlXs
scripts/~/.vscode-root/User/globalStorage/state.vscdb
scripts/~/.vscode-root/User/globalStorage/storage.json
scripts/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/state.vscdb
scripts/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/workspace.json
scripts/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/chatEditingSessions/d86a21d1-f9f0-4c4c-a747-b8a2ec6aa6fd/state.json
scripts/~/.vscode-root/User/workspaceStorage/70fd4213bd7eaeb87f0e044c0e378913/chatSessions/d86a21d1-f9f0-4c4c-a747-b8a2ec6aa6fd.json
scripts/~/.vscode-root/logs/20251027T093903/editSessions.log
scripts/~/.vscode-root/logs/20251027T093903/main.log
scripts/~/.vscode-root/logs/20251027T093903/network-shared.log
scripts/~/.vscode-root/logs/20251027T093903/remoteTunnelService.log
scripts/~/.vscode-root/logs/20251027T093903/sharedprocess.log
scripts/~/.vscode-root/logs/20251027T093903/telemetry.log
scripts/~/.vscode-root/logs/20251027T093903/terminal.log
scripts/~/.vscode-root/logs/20251027T093903/userDataSync.log
scripts/~/.vscode-root/logs/20251027T093903/window1/network.log
scripts/~/.vscode-root/logs/20251027T093903/window1/notebook.rendering.log
scripts/~/.vscode-root/logs/20251027T093903/window1/renderer.log
scripts/~/.vscode-root/logs/20251027T093903/window1/textModelChanges.log
scripts/~/.vscode-root/logs/20251027T093903/window1/views.log
scripts/~/.vscode-root/logs/20251027T093903/window1/exthost/exthost.log
scripts/~/.vscode-root/logs/20251027T093903/window1/exthost/extHostTelemetry.log
scripts/~/.vscode-root/logs/20251027T093903/window1/exthost/vscode.git/Git.log
scripts/~/.vscode-root/logs/20251027T093903/window1/exthost/vscode.github/GitHub.log
scripts/~/.vscode-root/logs/20251027T093903/window1/exthost/vscode.github-authentication/GitHub Authentication.log
scripts/~/.vscode-root/logs/20251027T093903/window1/exthost/vscode.json-language-features/JSON Language Server.log
scripts/~/.vscode-root/logs/20251027T093903/window1/output_20251027T093906/tasks.log
